@using System.Diagnostics
@using System.Timers
@using Humanizer
@using JournalisticTransparency.Web.Components.Logging
<Div Position="Position.Absolute.Top.Is0.End.Is0" Border="Border.Is3.Danger.OnAll" Background="Background.White"
     Style="z-index: 9999" Width="Width.Max100" Height="Height.Max100">
    <Button Color="Color.Danger" Clicked="@(() => _debuggerVisible = !_debuggerVisible)" Style="z-index: 10; opacity: 0.5"
            Position="Position.Absolute.Top.Is0.End.Is0" Margin="Margin.Is1.FromTop.Is4.FromEnd">
        <Icon Name="IconName.EyeSlash" IconSize="IconSize.x2"/>
    </Button>
    <Div Display="@(_debuggerVisible ? Display.Always : Display.None)" Overflow="Overflow.Scroll">
        <Accordion>
            @foreach (ITracked trackedObject in DebuggerEntries.OrderBy(entry => FormatOwnerString(entry.Owner.ToString())))
            {
                <AccordionItem>
                    <AccordionHeader>
                        <AccordionToggle>
                            <Table Margin="Margin.Is0">
                                <TableBody>
                                    <TableRow>
                                        <TableRowCell>@GetInteractionIcon(trackedObject.Status)</TableRowCell>
                                        <TableRowCell>@FormatOwnerString(trackedObject.Owner.ToString())</TableRowCell>
                                        <TableRowCell><Strong>@trackedObject.Name</Strong></TableRowCell>
                                        <TableRowCell>@trackedObject.GetType().ToString()</TableRowCell>
                                    </TableRow>
                                </TableBody>
                            </Table>
                        </AccordionToggle>
                    </AccordionHeader>
                    <AccordionBody>
                        <Table Striped Margin="Margin.Is0">
                            <TableHeader>
                                <TableRow>
                                    <TableHeaderCell>Interaction</TableHeaderCell>
                                    <TableHeaderCell>Time</TableHeaderCell>
                                </TableRow>
                            </TableHeader>
                            <TableBody>
                                @foreach (TrackedInteraction interaction in trackedObject.Interactions)
                                {
                                    <TableRow>
                                        <TableRowCell>@interaction.Interaction.ToString()</TableRowCell>
                                        <TableRowCell>@interaction.Time</TableRowCell>
                                    </TableRow>
                                }
                            </TableBody>
                        </Table>
                    </AccordionBody>
                </AccordionItem>
            }
        </Accordion>
    </Div>
</Div>

@code {
    [Parameter] public List<ITracked> DebuggerEntries { get; set; } = null!;

    private bool _debuggerVisible = true;

    private string GetInteractionIcon(TrackedStatus status)
    {
        switch (status)
        {
            case TrackedStatus.Active:
                return "❇️";
            case TrackedStatus.Paused:
                return "⏸️";
            case TrackedStatus.Incremented:
                return "✴️";
            default:
                throw new NotSupportedException();
        }
    }

    private string FormatOwnerString(string owner) => owner.Split('.').Last();
}