@using JournalisticTransparency.Web.Components.Logging.Components
@inherits TransparencyElement
@inject HttpClient HttpClient

@if (Interactive)
{
    <Alert ElementId="@ElementId" Style="@Style" Color="Color.Info" Visible>
        <AlertMessage>De huidige versie van dit arikel verschilt van de oorspronkelijke.
            <Anchor Class="@(Interactive ? "flash" : "")" Clicked="@(() => (_modalRef.Object as Modal)!.Show())">Bekijk hier welke veranderingen werden aangebracht.</Anchor>
        </AlertMessage>
    </Alert>

    <TrackedModal @ref="_modalRef" Attributes="_trackedModalParameters" Owner="@this" Name="aangebrachte wijzigingen"/>
}
else
{
    <Alert ElementId="@ElementId" Style="@(Style + "max-height: 400px;")" Color="Color.Info"
           Flex="Flex.Column.AlignItems.Start" Visible>
        <AlertMessage Margin="Margin.Is2.FromBottom">De huidige versie van dit arikel verschilt van de oorspronkelijke.
            Bekijk hieronder welke veranderingen werden aangebracht.
        </AlertMessage>
        <InlineDiffViewer IgnoreUnchanged="true"
                          Header="Veranderingen (rood = oorspronkelijke versie, groen = huidige versie)"
                          OldText="@_oldText" NewText="@_newText"/>
    </Alert>
}



@code {
    private TrackedModal _modalRef = null!;
    private string _oldText = null!;
    private string _newText = null!;

    private Dictionary<string, object> _trackedModalParameters = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _oldText = await HttpClient.GetStringAsync("Resources/OldText.txt");
        _newText = await HttpClient.GetStringAsync("Resources/NewText.txt");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (!firstRender)
            return;

        RenderFragment modalContent =
            @<ModalContent Size="ModalSize.Fullscreen">
                <ModalBody Margin="Margin.Is3.FromBottom">
                    <InlineDiffViewer IgnoreUnchanged="false"
                                      Header="Veranderingen (rood = oorspronkelijke versie, groen = huidige versie)"
                                      OldText="@_oldText" NewText="@_newText"/>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Primary" Clicked="@(() => (_modalRef.Object as Modal)!.Hide())">Sluiten
                    </Button>
                </ModalFooter>
            </ModalContent>;

        _trackedModalParameters = new()
        {
            { nameof(Modal.ChildContent), modalContent }
        };
    }
}