@inherits TransparencyElement

<Card Style="@Style">
    <Accordion>
        <AccordionItem @bind-Visible="@_accordionItemVisible">
            <AccordionHeader>
                <AccordionToggle Clicked="@(() => OnOpenStateChanged.InvokeAsync(new KeyValuePair<TransparencyElement, bool>(this, _accordionItemVisible)))">Lees meer over hoe het artikel tot stand is gekomen</AccordionToggle>
            </AccordionHeader>
            <AccordionBody Margin="Margin.Is0">
                <Row Margin="Margin.Is5.OnX.Is5.FromBottom.Is2.FromTop" Flex="Flex.NoWrap" Overflow="Overflow.Hidden">
                    <Column Style="row-gap: 12px" Flex="Flex.Column">
                        <Div>
                            <Heading Size="HeadingSize.Is6">Motivatie voor het artikel</Heading>
                            <Text>De aanleiding voor het schrijven van het artikel was het overlijden van James Watson. Watson was een internationaal erkende bioloog en mede-ontdekker van de dubbele helixstructuur van DNA, wat wordt gezien als een van de belangrijkste wetenschappelijke doorbraken van de 20e eeuw. De redactie wilde zijn leven belichten in een breder historisch en maatschappelijk perspectief, inclusief de positieve bijdrage aan de wetenschap en de latere controverses in zijn carrière.</Text>
                        </Div>
                        <Div>
                            <Heading Size="HeadingSize.Is6">Onderzoeksproces</Heading>
                            <Text>De meeste bronnen die voor het maken van dit artikel werden aangewend zijn <Anchor Clicked="@(() => _modalRef.Show())">vrij consulteerbaar</Anchor>. Interviews zijn niet integraal raadpleegbaar, omdat MEDIUM geen toestemming verkreeg van de geïnterviewden om de geprekken in zijn geheel vrij te geven. De inhoud van het artikel weerspiegelt de inhoud van de interviews op een waarheidsgetrouwe basis.</Text>
                        </Div>
                        <Div>
                            <Heading Size="HeadingSize.Is6">Methodologie</Heading>
                            <Text>Het artikel is opgebouwd volgens de standaardmethode van MEDIUM. Belangrijk hierbij zijn:</Text>
                            <UnorderedList Margin="Margin.Is0.Is1.FromTop">
                                <UnorderedListItem>
                                    Triangulatie: feiten zijn gecontroleerd via meerdere betrouwbare bronnen om onnauwkeurigheden te vermijden.
                                </UnorderedListItem>
                                <UnorderedListItem>
                                    Balans in berichtgeving: de positieve wetenschappelijke bijdragen worden afgewogen tegen de kritiek op Watson’s persoonlijke uitspraken om een genuanceerd beeld te presenteren.
                                </UnorderedListItem>
                            </UnorderedList>
                        </Div>
                        <Div>
                            <Heading Size="HeadingSize.Is6">Redactionele keuzes</Heading>
                            <Text>De redactie koos ervoor om de discussie rond ethische en maatschappelijk relevante aspecten transparant te belichten, gezien hun belang voor hedendaagse lezers.</Text>
                        </Div>
                    </Column>
                </Row>
            </AccordionBody>
        </AccordionItem>
    </Accordion>
</Card>

<Modal @ref="_modalRef">
    <ModalContent Size="ModalSize.Fullscreen">
        <ModalBody Margin="Margin.Is3.FromBottom">
            <PdfViewerContainer>
                <PdfViewerToolbar ShowPaging="false"/>
                <PdfViewer Source="/Resources/james_watson.pdf" Scale="1.25"/>
            </PdfViewerContainer>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="@(() => _modalRef.Hide())">Sluiten</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    private bool _accordionItemVisible;
    private Modal _modalRef = null!;

    private bool _initialized;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!_initialized)
        {
            _accordionItemVisible = !Interactive;
            _initialized = true;
        }
    }
}