@page "/article"
@using System.Collections.ObjectModel
@using System.Diagnostics
@using JournalisticTransparency.Web.Components.Articles
@using JournalisticTransparency.Web.Components.Layout
@using JournalisticTransparency.Web.Components.Logging
@using ObservableCollections
@inject IJSRuntime JS
@inject Stopwatch SessionTimer

<Div>
    <Layout>
        <SiteHeader DisplayToast="@(() => _toastVisible = true)"/>
        <Layout Sider Width="Width.Is75.OnDesktop.Is100.OnMobile" Margin="Margin.IsAuto.OnX">
            <LayoutSider Display="Display.Block.OnDesktop.None.OnMobile" Background="Background.White">
                <LayoutSiderContent Display="Display.Flex.Column" Height="Height.Is100"
                                    Padding="Padding.Is3.FromStart.Is5.OnY.Is5.FromEnd"
                                    Style="border-right: 1px solid rgb(224,224,224)">
                    <SiteSectionCard DisplayToast="@(() => _toastVisible = true)"/>
                    <Div Flex="Flex.Grow.Is1"></Div>
                    <ShareCard DisplayFunctionDisabledToast="@(() => _toastVisible = true)"/>
                </LayoutSiderContent>
            </LayoutSider>
            <Layout Style="scrollbar-width: thin">
                <LayoutContent>
                    <Row Padding="Padding.Is5.OnY.Is5.FromStart.Is3.FromEnd" Height="Height.Is100">
                        <Column ColumnSize="ColumnSize.Is9.OnDesktop.IsFull.OnMobile">
                            <CascadingValue Value="_trackedComponentsChangedCallback">
                                <CascadingValue Value="_interactionsChangedCallback">
                                    <DynamicComponent Type="_articleContentType" Parameters="_articleContentParameters"/>
                                </CascadingValue>
                            </CascadingValue>
                            <Div Flex="Flex.JustifyContent.End">
                                <Button Display="Display.None.OnDesktop.Block.OnMobile"
                                        Clicked="@(() => _confirmSurveyModal.Show())" Margin="Margin.Is5.OnY">
                                    <Text Style="white-space: pre">Naar de enquête</Text>
                                    <Icon Name="IconName.ArrowRight" IconSize="IconSize.Large"/>
                                </Button>
                            </Div>
                        </Column>
                        <Column Display="Display.Block.OnDesktop.None.OnMobile" ColumnSize="ColumnSize.Is3"
                                Padding="Padding.Is0.FromEnd">
                            <Div Flex="Flex.Column" Height="Height.Is100">
                                <MostReadCard DisplayToast="@(() => _toastVisible = true)"/>
                                <Div Flex="Flex.Grow.Is1"></Div>
                                <Div Flex="Flex.JustifyContent.Center">
                                    <Button Flex="Flex.Column" Clicked="@(() => _confirmSurveyModal.Show())"
                                            Margin="Margin.Is3.OnY">
                                        <Text TextSize="TextSize.ExtraLarge" Margin="Margin.Is3"
                                              Style="white-space: pre">Naar de enquête</Text>
                                        <Icon Name="IconName.ArrowRight" IconSize="IconSize.x3"/>
                                    </Button>
                                </Div>
                            </Div>
                        </Column>
                    </Row>
                </LayoutContent>
            </Layout>
        </Layout>
    </Layout>

    <Toaster>
        <Toast @bind-Visible="@_toastVisible">
            <ToastBody Padding="Padding.Is0" Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                <Strong>Die functie is uitgeschakeld tijdens het experiment.</Strong>
                <CloseButton/>
            </ToastBody>
        </Toast>
    </Toaster>

    <Modal @ref="_confirmSurveyModal">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Doorgaan naar de enquête?</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Text>U kunt het artikel hierna niet meer lezen. Dit kan niet ongedaan gemaakt worden.</Text>
            </ModalBody>
            <ModalFooter Margin="Margin.Is3.FromTop">
                <Button Color="Color.Secondary" Clicked="@(() => _confirmSurveyModal.Close(CloseReason.UserClosing))">
                    Annuleren
                </Button>
                <Button Color="Color.Primary" Clicked="StartSurvey">Doorgaan</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    @if (Debugging is true)
    {
        <DebugOverlay DebuggerEntries="@_trackedComponents"/>
    }
</Div>




@code {
    [Parameter] [SupplyParameterFromQuery] public bool? Debugging { get; set; }
    [Parameter] [SupplyParameterFromQuery] public int TransparencyType { get; set; } //https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/navigation?view=aspnetcore-10.0&utm_source=chatgpt.com#query-strings

    private Guid _userId = Guid.NewGuid();

    private Dictionary<string, object> _articleContentParameters = null!;

    private Modal _confirmSurveyModal = null!;
    private bool _toastVisible;
    private Type _articleContentType = null!;

    private readonly List<ITracked> _trackedComponents = new();

    private EventCallback<ITracked> _trackedComponentsChangedCallback;
    private EventCallback<ITracked> _interactionsChangedCallback;

    private bool _initialized;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (!_initialized)
        {
            _articleContentType = ArticleContentFactory.GetComponentType((TransparencyType)TransparencyType);
            _articleContentParameters = new() { [nameof(ArticleContent.DisplayFunctionDisabledToast)] = EventCallback.Factory.Create(this, () => _toastVisible = true) };

            SessionTimer.Start();
        
            if (Debugging is false)
                return;

            _trackedComponentsChangedCallback = EventCallback.Factory.Create<ITracked>(this, UpdateDebugger);
            _interactionsChangedCallback = EventCallback.Factory.Create<ITracked>(this, UpdateDebugger);

            _initialized = true;
        }
    }
    
    protected override Task OnInitializedAsync()
    {
        JS.InvokeVoidAsync("enableBeforeUnload");
        
        return base.OnInitializedAsync();
    }

    private void UpdateDebugger(ITracked trackedComponent)
    {
        if (!_trackedComponents.Contains(trackedComponent))
            _trackedComponents.Add(trackedComponent);
    }

    private void StartSurvey()
    {
        // Hier alle data naar json en uploaden naar Azure blob
    }
}