@page "/article"
@using System.Collections.ObjectModel
@using JournalisticTransparency.Web.Components
@using JournalisticTransparency.Web.Components.Logging

<Div>
    <Layout>
        <SiteHeader DisplayToast="@(() => _toastVisible = true)"/>
        <Layout Sider Width="Width.Is75.OnDesktop.Is100.OnMobile" Margin="Margin.IsAuto.OnX">
            <LayoutSider Display="Display.Block.OnDesktop.None.OnMobile" Background="Background.White">
                <LayoutSiderContent Display="Display.Flex.Column" Height="Height.Is100"
                                    Padding="Padding.Is3.FromStart.Is5.OnY.Is5.FromEnd"
                                    Style="border-right: 1px solid rgb(224,224,224)">
                    <SiteSectionCard DisplayToast="@(() => _toastVisible = true)"/>
                    <Div Flex="Flex.Grow.Is1"></Div>
                    <ShareCard DisplayToast="@(() => _toastVisible = true)"/>
                </LayoutSiderContent>
            </LayoutSider>
            <Layout Style="scrollbar-width: thin">
                <LayoutContent>
                    <Row Padding="Padding.Is5.OnY.Is5.FromStart.Is3.FromEnd" Height="Height.Is100">
                        <Column ColumnSize="ColumnSize.Is9.OnDesktop.IsFull.OnMobile">
                            <DynamicComponent Type="_articleContentType" Parameters="_articleContentParameters"/>
                            <Div Flex="Flex.JustifyContent.End">
                                <Button Display="Display.None.OnDesktop.Block.OnMobile"
                                        Clicked="@(() => _confirmSurveyModal.Show())" Margin="Margin.Is5.OnY">
                                    <Text Style="white-space: pre">Naar de enquête</Text>
                                    <Icon Name="IconName.ArrowRight" IconSize="IconSize.Large"/>
                                </Button>
                            </Div>
                        </Column>
                        <Column Display="Display.Block.OnDesktop.None.OnMobile" ColumnSize="ColumnSize.Is3"
                                Padding="Padding.Is0.FromEnd">
                            <Div Flex="Flex.Column" Height="Height.Is100">
                                <MostReadCard DisplayToast="@(() => _toastVisible = true)"/>
                                <Div Flex="Flex.Grow.Is1"></Div>
                                <Div Flex="Flex.JustifyContent.Center">
                                    <Button Flex="Flex.Column" Clicked="@(() => _confirmSurveyModal.Show())"
                                            Margin="Margin.Is3.OnY">
                                        <Text TextSize="TextSize.ExtraLarge" Margin="Margin.Is3"
                                              Style="white-space: pre">Naar de enquête</Text>
                                        <Icon Name="IconName.ArrowRight" IconSize="IconSize.x3"/>
                                    </Button>
                                </Div>
                            </Div>
                        </Column>
                    </Row>
                </LayoutContent>
            </Layout>
        </Layout>
    </Layout>

    <Toaster>
        <Toast @bind-Visible="@_toastVisible">
            <ToastBody Padding="Padding.Is0" Flex="Flex.AlignItems.Center" Gap="Gap.Is2">
                <Strong>Die functie is uitgeschakeld tijdens het experiment.</Strong>
                <CloseButton/>
            </ToastBody>
        </Toast>
    </Toaster>

    <Modal @ref="_confirmSurveyModal">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>Doorgaan naar de enquête?</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Text>U kunt het artikel hierna niet meer lezen. Dit kan niet ongedaan gemaakt worden.</Text>
            </ModalBody>
            <ModalFooter Margin="Margin.Is3.FromTop">
                <Button Color="Color.Secondary" Clicked="@(() => _confirmSurveyModal.Close(CloseReason.UserClosing))">
                    Annuleren
                </Button>
                <Button Color="Color.Primary" Clicked="StartSurvey">Doorgaan</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

    @if (Debugging is true)
    {
        <DebugWindow DebuggerEntries="@_debuggerEntries"/>
    }
</Div>




@code {
    [Parameter] [SupplyParameterFromQuery] public bool? Debugging { get; set; }
    [Parameter] [SupplyParameterFromQuery] public int TransparencyType { get; set; } //https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/navigation?view=aspnetcore-10.0&utm_source=chatgpt.com#query-strings

    private Guid _userId = Guid.NewGuid();
    private readonly ObservableCollection<ITrackedObject> _trackedObjects = new();

    private Dictionary<string, object> _articleContentParameters = null!;

    private Modal _confirmSurveyModal = null!;
    private bool _toastVisible;
    private Type _articleContentType = null!;

    private List<ITrackedObject> _debuggerEntries = new();


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        _articleContentType = ArticleContentFactory.GetComponentType((TransparencyType)TransparencyType);
        _articleContentParameters = new() { [nameof(IArticleContent.OnLoggedObjectCreated)] = EventCallback.Factory.Create<ITrackedObject>(this, HandleCallback) };

        if (Debugging is false)
            return;

        _trackedObjects.CollectionChanged += UpdateDebugger;
    }

    private void HandleCallback(ITrackedObject trackedObject)
    {
        _trackedObjects.Add(trackedObject);
    }

    private void UpdateDebugger(object? obj, EventArgs args)
    {
        _debuggerEntries = _trackedObjects.ToList();

        StateHasChanged();
    }

    private void StartSurvey()
    {
        // Hier alle data naar json en uploaden naar Azure blob
    }


}