@page "/debug"
@using JournalisticTransparency.Web.Components
@using JournalisticTransparency.Web.Components.Articles
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
<Div Margin="Margin.Is5">
    <h1>Debug-menu</h1>
    <Column Flex="Flex.Column" Gap="Gap.Is3" Padding="Padding.Is0" Width="Width.Is33.OnDesktop.Is100.OnMobile">
        <Button Clicked="@(() => NavigationTools.RedirectToArticle(TransparencyType.Classic, true, NavigationManager))">Versie "zichtbare transparantie" openen</Button>
        <Button Clicked="@(() => NavigationTools.RedirectToArticle(TransparencyType.Interactive, true, NavigationManager))">Versie "interactieve transparantie (gewone elementen)" openen</Button>
        <Button Clicked="@(() => NavigationTools.RedirectToArticle(TransparencyType.InvasiveInteractive, true, NavigationManager))">Versie "interactieve transparantie (invasieve elementen)" openen</Button>
        <Button Clicked="@(() => NavigationTools.RedirectToArticle(TransparencyType.ForcedInteractive, true, NavigationManager))">Versie "verplicht interactieve transparantie" openen</Button>
        <Button Clicked="@(() => NavigationTools.RedirectToArticle(TransparencyType.Incorporated, true, NavigationManager))">Versie "geïntegreerde transparantie" openen</Button>
        <Div Flex="Flex.Row">
            <Div Flex="Flex.Grow.Is1"></Div>
            <Check TValue="bool" Checked="@_showDebugInfo">
                <Text TextColor="TextColor.Dark">Debugger tonen</Text>
            </Check>
        </Div>
    </Column>
</Div>

@code {
    private readonly bool _showDebugInfo = true;
}