@if (!Invasive)
{
    <TrackedComponent OnTrackedElementCreated="@_trackedComponentCreatedCallback" @ref="_trackedAnchor" T="Anchor" Attributes="@Attributes" Name="@Name" Owner="@Owner"/>
}

@if (Invasive)
{
    <Span class="flash">
        <TrackedComponent OnTrackedElementCreated="@_trackedComponentCreatedCallback" @ref="_trackedAnchor" T="Anchor" Attributes="@Attributes" Name="@Name" Owner="@Owner"/>
    </Span>
}


<style>
    @@keyframes blink {
        0%, 50%, 100% {
            opacity: 1;
            box-shadow: 0px 0px 8px 0px rgb(17, 94, 163);
        }
        25%, 75% {
            opacity: 0.5;
            box-shadow: 0px 0px 0px 0px rgb(17, 94, 163);
        }
    }

    .flash {
        animation: blink 3s infinite;
    }
</style>

@code {
    [CascadingParameter(Name = "ComponentCreatedCallback")] public EventCallback<ITracked> OnTrackedComponentCreated { get; set; }
    
    [Parameter] [EditorRequired] public bool Invasive { get; set; }
    [Parameter] [EditorRequired] public required string Name { get; init; }
    [Parameter] [EditorRequired] public required IComponent Owner { get; init; }
    [Parameter] public Dictionary<string, object>? Attributes { get; set; }

    private TrackedComponent<Anchor> _trackedAnchor = null!;
    
    private EventCallback<ITracked> _trackedComponentCreatedCallback;

    private bool _initialized;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_initialized)
            return;
        
        _trackedComponentCreatedCallback = EventCallback.Factory.Create<ITracked>(this, _ => InitializeTrackedComponent());
        _initialized = true;
    }

    private void InitializeTrackedComponent()
    {
        _trackedAnchor.AddNestedCallback(nameof(Anchor.Clicked), new EventCallbackWrapper<MouseEventArgs>(EventCallback.Factory.Create(this, (MouseEventArgs _) => 
            _trackedAnchor.Interactions.Add(new TrackedInteraction(Interaction.Clicked, _trackedAnchor.SessionTimer.Elapsed)))));

        OnTrackedComponentCreated.InvokeAsync(_trackedAnchor);
        
        StateHasChanged();
    }
}