@inject TrackingService TrackingService
@inject IJSRuntime JS
@implements IAsyncDisposable

@if (!Invasive)
{
    <TrackedComponent @ref="_trackedAnchor" T="Anchor"
                      Attributes="@Attributes" Name="@Name" Owner="@Owner"/>
}

@if (Invasive)
{
    <Span Class="flash">
        <TrackedComponent @ref="_trackedAnchor" T="Anchor"
                          Attributes="@Attributes" Name="@Name" Owner="@Owner"/>
    </Span>
}

@code {

    [Parameter] [EditorRequired] public bool Invasive { get; set; }
    [Parameter] [EditorRequired] public required string Name { get; init; }
    [Parameter] [EditorRequired] public required IComponent Owner { get; init; }
    [Parameter] public Dictionary<string, object>? Attributes { get; set; }

    private TrackedComponent<Anchor> _trackedAnchor = null!;

    private DotNetObjectReference<TrackedAnchor> _componentReference = null!;

    private bool _initialized;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (_initialized)
            return;

        _componentReference = DotNetObjectReference.Create(this);
        TrackingService.OnTrackedElementCreated += InitializeTrackedComponent;
        _initialized = true;
    }

    private void InitializeTrackedComponent(ITracked trackedElement)
    {
        if (trackedElement != _trackedAnchor)
            return;
        
        _trackedAnchor.AddNestedCallback(nameof(Anchor.Clicked), new EventCallbackWrapper<MouseEventArgs>(EventCallback.Factory.Create(this, (MouseEventArgs _) =>
        {
            _trackedAnchor.Interactions.Add(new TrackedInteraction(Interaction.Opened, _trackedAnchor.SessionTimer.Elapsed));
            JS.InvokeVoidAsync("visibility.addVisibilityRestoredListener", _componentReference); // This will also get called when switching back to the article without closing the new tab, therefore subsequent switching back and forth is not tracked
        })));

        StateHasChanged();
    }

    [JSInvokable]
    public void AddClosedInteraction()
    {
        _trackedAnchor.Interactions.Add(new TrackedInteraction(Interaction.Closed, _trackedAnchor.SessionTimer.Elapsed));
        JS.InvokeVoidAsync("visibility.removeVisibilityRestoredListener");
    }

    public async ValueTask DisposeAsync()
    {
        await JS.InvokeVoidAsync("visibility.removeVisibilityRestoredListener");
        _componentReference.Dispose();
    }
}